@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Groups.Data.Entities.Group

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>


@{
    ViewData["Title"] = "Delete";
}


<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Delete Group</h5>
   <hr />

<div>
 
    <dl class="row">
        <dt class="col-sm-5">
           Specialization Name
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.SpecializationName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" /> <a asp-controller="Groups" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

  </div>
</div>
</div>