@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Assignments.ViewModels.DetailsForTeacherViewModel

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>


@{
    ViewData["Title"] = "Details";
}


<h2>Assignment Details</h2>   

    <hr/>

    <div class="card">
  <div class="card-header">
    @Html.DisplayFor(model => model.assignment.Name)
  </div>
  <div class="card-body">
    <h5 class="card-title"> Due @Convert.ToDateTime(@Model.assignment.DueDate).ToString("dd/MM/yyyy hh:mm") | Max Grade: @Html.DisplayFor(model => model.assignment.MaxGrade)</h5>
    <p class="card-text">@Html.DisplayFor(model => model.assignment.Description)</p>
    <a asp-controller="Assignments" asp-action="Edit" asp-route-id="@Model.assignment.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Assignments" asp-action="Delete" asp-route-id="@Model.assignment.Id" class="btn btn-danger">Delete</a>
  </div>
</div>

   
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">File</th>
      <th scope="col">Turned In Date</th>
      <th scope="col">Student</th>
      <th scope="col">Grade</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int j = 1;}
      @foreach (var assignment in this.Model.submissionsList)
      {
            <tr>
              <td>@j</td>
              <td><a asp-controller="Submissions" asp-action="Download" asp-route-filename="@assignment.Item1.FilePath">@assignment.Item1.FilePath</a></td>
              <td>@Convert.ToDateTime(assignment.Item1.TurnedInDate).ToString("dd/MM/yyyy hh:mm")</td>
              <td>@assignment.Item2.Name</td>
              <td>@assignment.Item1.Grade</td>
              
              @if(assignment.Item1.Grade == 0) {
                      <td>
                          <a asp-controller="Submissions" asp-action="CreateGrade" asp-route-id="@assignment.Item1.Id">Grade</a>
                     </td>
              }
              else {
                   <td>
                      <a asp-controller="Submissions" asp-action="EditGrade" asp-route-id="@assignment.Item1.Id">Edit</a>
                 </td>
              }
                             
            </tr>
            j++;
      }
  </tbody>
</table>




<script type='text/javascript'>
$(document).ready( function () {
    $('.table').DataTable();
} );
</script>