@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model List<Tuple<Assignments.Data.Entities.Assignment, Courses.Data.Entities.Course, Laboratories.Data.Entities.Laboratory>>*@
@model Assignments.ViewModels.AssignmentsViewModel

<h2>Course Assignments</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">Max Grade</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int i = 1;}
      @foreach (var assignment in this.Model.coursesAssignments)
      {
            <tr>
              <td>@i</td>
              <td>@assignment.Item1.Name</td>
              <td>@assignment.Item1.Description</td>
              <td>@assignment.Item2.Name</td>
              <td>@assignment.Item1.DueDate</td>
              <td>@assignment.Item1.MaxGrade</td>
              <td>@assignment.Item1.Status</td>


                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                {
                    <td> <a asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Item1.Id" class="btn btn-dark">Edit</a>
                        <a asp-controller="Assignments" asp-action="Delete" asp-route-Id="@assignment.Item1.Id" class="btn btn-dark">Delete</a>
                    </td>
                }
                @if (ViewContext.HttpContext.User.IsInRole("Student"))
                {
                 <td><a asp-controller="Submissions" asp-action="Create" asp-route-id="@assignment.Item1.Id" class="btn btn-dark">Submit homework</a></td>
                }
                
            </tr>
            i++;
      }
  </tbody>
</table>



<h2>Laboratory Assignments</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">Max Grade</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int j = 1;}
      @foreach (var assignment in this.Model.laboratoriesAssignments)
      {
            <tr>
              <td>@j</td>
              <td>@assignment.Item1.Name</td>
              <td>@assignment.Item1.Description</td>
              <td>@assignment.Item2.Name</td>
              <td>@assignment.Item1.DueDate</td>
              <td>@assignment.Item1.MaxGrade</td>
              <td>@assignment.Item1.Status</td>


                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                {
                    <td> <a asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Item1.Id" class="btn btn-dark">Edit</a>
                        <a asp-controller="Assignments" asp-action="Delete" asp-route-Id="@assignment.Item1.Id" class="btn btn-dark">Delete</a>
                    </td>
                }
                @if (ViewContext.HttpContext.User.IsInRole("Student"))
                {
                 <td><a asp-controller="Submissions" asp-action="Create" asp-route-id="@assignment.Item1.Id" class="btn btn-dark">Submit homework</a></td>
                }
                
            </tr>
            j++;
      }
  </tbody>
</table>