@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model List<Tuple<Assignments.Data.Entities.Assignment, Courses.Data.Entities.Course, Laboratories.Data.Entities.Laboratory>>*@
@model Assignments.ViewModels.StudentAssignmentsViewModel

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

<h2>Course Assignments</h2>

<table class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Due Date</th>
      <th scope="col">Max Grade</th>
      <th scope="col">Your Grade</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int i = 1;}
      @foreach (var assignment in this.Model.courseAssignments)
      {
            <tr>
              <td>@i</td>
              <td>
                  <a asp-controller="Assignments" asp-action="Details" asp-route-id="@assignment.Item1.Id">@assignment.Item1.Name</a>
              </td>
              <td>@assignment.Item2.Name</td>
              <td>@Convert.ToDateTime(assignment.Item1.DueDate).ToString("dd/MM/yyyy hh:mm")</td>
              <td>@assignment.Item1.MaxGrade</td>
            
                    @if (assignment.Item3.Grade != 0)
                    {
                        <td>@assignment.Item3.Grade</td>
                    }
                    else
                    {
                        <td>Not graded yet</td>
                    }
                               @if(assignment.Item3.Status != null)
                {
                    <td>@assignment.Item3.Status</td>
                }
                else
                {
                    <td style="color: red;">Missing</td>
                }
             

                @if (assignment.Item3.FilePath == null)
                {
                    <td><a asp-controller="Submissions" asp-action="Create" asp-route-id="@assignment.Item1.Id" style="color: red;">Submit your work</a></td>
                }
                else
                {
                    <td><a asp-controller="Submissions" asp-action="Edit" asp-route-id="@assignment.Item1.Id">Edit your work</a> | 
                        <a asp-controller="Submissions" asp-action="Delete" asp-route-id="@assignment.Item1.Id">Delete Submission</a></td>           
                }
                
            </tr>
            i++;
      }
  </tbody>
</table>



<h2>Laboratory Assignments</h2>
<table class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Laboratory</th>
      <th scope="col">Due Date</th>
      <th scope="col">Max Grade</th>
      <th scope="col">Your grade</th>
       <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int j = 1;}
      @foreach (var assignment in this.Model.laboratoryAssignments)
      {
            <tr>
              <td>@j</td>
              <td>
                  <a asp-controller="Assignments" asp-action="Details" asp-route-id="@assignment.Item1.Id">@assignment.Item1.Name</a>
              </td>
              <td>@assignment.Item2.Name</td>
              <td>@assignment.Item1.DueDate</td>
              <td>@assignment.Item1.MaxGrade</td>
              
                    @if (assignment.Item3.Grade != 0)
                    {
                        <td>@assignment.Item3.Grade</td>
                    }
                    else
                    {
                        <td>Not graded yet</td>
                    }
                @if(assignment.Item3.Status != null)
                {
                    <td>@assignment.Item3.Status</td>
                }
                else
                {
                    <td style="color: red;">Missing</td>
                }
                

             

                @if (assignment.Item3.FilePath == null)
                {
                    <td><a asp-controller="Submissions" asp-action="Create" asp-route-id="@assignment.Item1.Id" style="color: red;">Submit your work</a></td>
                }
                else
                {
                    <td><a asp-controller="Submissions" asp-action="Edit" asp-route-id="@assignment.Item1.Id">Edit your work</a> | 
                        <a asp-controller="Submissions" asp-action="Delete" asp-route-id="@assignment.Item1.Id">Delete Submission</a></td>           
                }
                
            </tr>
            j++;
      }
  </tbody>
</table>


<script type='text/javascript'>
$(document).ready( function () {
    $('.table').DataTable();
} );
</script>