@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Tuple<Groups.Data.Entities.Subgroup, Groups.Data.Entities.Group>>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

<h1>Subgroups</h1>

<table id="table_id" class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Group Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int i = 1;}
      @foreach (var list in this.Model)
      {
            <tr>
              <td>@i</td>
              <td>@list.Item1.Name</td>
              <td>@list.Item2.Name</td>
              <td> <a asp-controller="Subgroups" asp-action="Edit" asp-route-id="@list.Item1.Id">Edit</a> | 
               <a asp-controller="Subgroups" asp-action="Delete" asp-route-Id="@list.Item1.Id">Delete</a></td>
            </tr>
            i++;
      }
  </tbody>
</table>


<script type='text/javascript'>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>