@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>


      <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

</head>

@{
    ViewData["Title"] = "Dashboard";
}


@*

        

        <a href="#menu" id="toggle"><span></span></a>

<div id="menu">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>

*@


<h1>Dashboard</h1>
     
 @if(ViewContext.HttpContext.User.IsInRole("Secretary")) {

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfStudents students enrolled.</p>
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary special-button">View students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teachers</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfTeachers teachers.</p>
        <a asp-controller="Teachers" asp-action="Index" class="btn btn-primary">View teachers</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfCourses courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfLaboratories laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Groups</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfGroups groups.</p>
        <a asp-controller="Groups" asp-action="Index" class="btn btn-primary">View groups</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Subgroups</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfSubgroups subgroups.</p>
        <a asp-controller="Subgroups" asp-action="Index" class="btn btn-primary">View subgroups</a>
      </div>
    </div>
  </div>
</div>
}

 @if(ViewContext.HttpContext.User.IsInRole("Teacher")) {

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">You teach 10 courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary special-button">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">You teach 3 laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">You have 140 students.</p>
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary">View students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assignments</h5>
        <p class="card-text">There are currently 10 active assignments.</p>
        <a asp-controller="Assignments" asp-action="Index" class="btn btn-primary">View assignments</a>
      </div>
    </div>
  </div>
</div>
}

@if(ViewContext.HttpContext.User.IsInRole("Student")) {

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">You are enrolled in 7 courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary special-button">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">You are enrolled in 7 laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assignments</h5>
        <p class="card-text">You have 3 assignments.</p>
        <a asp-controller="Assignments" asp-action="Index" class="btn btn-primary">View assignments</a>
      </div>
    </div>
  </div>
</div>
}








<script>
    $(document).ready(function(){
        console.log("this");
 
    var theToggle = document.getElementById('toggle');

// based on Todd Motto functions
// https://toddmotto.com/labs/reusable-js/

// hasClass
function hasClass(elem, className) {
	return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
}
// addClass
function addClass(elem, className) {
    if (!hasClass(elem, className)) {
    	elem.className += ' ' + className;
    }
}
// removeClass
function removeClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
	if (hasClass(elem, className)) {
        while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
            newClass = newClass.replace(' ' + className + ' ', ' ');
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    }
}
// toggleClass
function toggleClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
    if (hasClass(elem, className)) {
        while (newClass.indexOf(" " + className + " ") >= 0 ) {
            newClass = newClass.replace( " " + className + " " , " " );
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    } else {
        elem.className += ' ' + className;
    }
}

theToggle.onclick = function() {
   toggleClass(this, 'on');
   return false;
}
   });

</script>



