@using Identity.Data.Entities
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
      <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

</head>

@{
    ViewData["Title"] = "Dashboard";
}
   


@if(!User.Identity.IsAuthenticated)
{
    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
     if (result.Success)
     {
                        await Html.RenderPartialAsync("_LoginPartial");
     }

}              

 @if(ViewContext.HttpContext.User.IsInRole("Secretary")) {
     <h1>Dashboard</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfStudents students enrolled.</p>
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary special-button">View students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teachers</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfTeachers teachers.</p>
        <a asp-controller="Teachers" asp-action="Index" class="btn btn-primary">View teachers</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfCourses courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfLaboratories laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Groups</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfGroups groups.</p>
        <a asp-controller="Groups" asp-action="Index" class="btn btn-primary">View groups</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Subgroups</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfSubgroups subgroups.</p>
        <a asp-controller="Subgroups" asp-action="Index" class="btn btn-primary">View subgroups</a>
      </div>
    </div>
  </div>
</div>
}

 @if(ViewContext.HttpContext.User.IsInRole("Teacher")) {
     <h1>Dashboard</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">You teach @ViewBag.NumberOfCourses course(s).</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary special-button">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">You teach @ViewBag.NumberOfLaboratories laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assignments</h5>
        <p class="card-text">There are currently @ViewBag.NumberOfCourseAssignments course assignments and @ViewBag.NumberOfLaboratoryAssignments laboratory assignments.</p>
        <a asp-controller="Assignments" asp-action="Index" class="btn btn-primary">View assignments</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Submissions</h5>
        <p class="card-text">You have @ViewBag.CourseAssignmentSubmissions course assignment submissions and @ViewBag.LaboratoryAssignmentSubmissions laboratory assignment submissions.</p>
        <a asp-controller="Submissions" asp-action="Index" class="btn btn-primary">View submissions</a>
      </div>
    </div>
  </div>
</div>
}

@if(ViewContext.HttpContext.User.IsInRole("Student")) {
    <h1>Dashboard</h1>



      <div class="row ">

    <div class="col-md-8">



            <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">You are enrolled in @ViewBag.Courses courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary special-button">View courses</a>
      </div>
    </div>

    
    


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">You are enrolled in @ViewBag.Labs laboratories.</p>
        <a asp-controller="Laboratories" asp-action="StudentIndex" class="btn btn-primary">View laboratories</a>
      </div>
    </div>


    </div>

    <div class="col-md-4">


         <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your information</h5>
        
        <dl class="row">
        <dt class="col-sm-4">
           Group
        </dt>
        <dd class="col-sm-8">
            @ViewBag.Group.Name
        </dd>

                <dt class="col-sm-4">
           Subgroup
        </dt>
        <dd class="col-sm-8">
            @ViewBag.Subgroup.Name
        </dd>
        
    </dl>

      </div>
    </div>

    </div>

  </div>



  

}

