@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Teachers.ViewModels.DetailsViewModel

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

@{
    ViewData["Title"] = "Details";
}



   <div class="row"> 
      <div class="col-8">

    



   <h2>Courses taught by @Html.DisplayFor(model => model.teacher.Name)</h2>


   
<script type='text/javascript'>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>

    <table id="table_id" class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
       
       
    <thead>
        <tr>
                 <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Year</th>
      <th scope="col">Semester</th>
        </tr>
    </thead>

    <tbody>
     @{int i = 1;}
      @foreach (var course in this.Model.courses)
      {
            <tr>
              <td>@i</td>
              <td>@course.Name</td>
              <td>@course.Day</td>
              <td>@course.Time.ToString("hh:mm")</td>
              <td>@course.Year</td>
              <td>@course.Semester</td>
            </tr>
            i++;
      }
  </tbody>

       
</table>

<hr/>


   <h2>Laboratories taught by @Html.DisplayFor(model => model.teacher.Name)</h2>


   

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Course</th>
    </tr>
  </thead>
  <tbody>
     @{int j = 1;}
      @foreach (var list in this.Model.laboratories)
      {
            <tr>
              <td>@j</td>
              <td>@list.Name</td>
              <td>@list.Day</td>
              <td>@list.Time.ToString("hh:mm")</td>
              <td>@list.Name</td>
            </tr>
            j++;
      }
  </tbody>
</table>


   </div>
 <div class="col-4">







    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teacher Information</h5>
        <hr/>
        <dl class="row">
            <dt class="col">
                Name
            </dt>
            <dd class="col">
                <p class="card-text">@Html.DisplayFor(model => model.teacher.Name)</p>
            </dd>
            <div class="w-100"></div>
            <dt class="col">
                Email
            </dt>
            <dd class="col">
                <p class="card-text">@Html.DisplayFor(model => model.user.Email)</p>
            </dd>
        </dl> 
        <a asp-controller="Teachers" asp-action="Edit" asp-route-id="@Model.teacher.Id" class="btn btn-primary special-button">Edit</a>
        <a asp-controller="Teachers" asp-action="Delete" asp-route-id="@Model.teacher.Id" class="btn btn-primary special-button">Delete</a>

    </div>


</div> 
   </div> 
