@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Students.ViewModels.DetailsViewModel

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

@{
    ViewData["Title"] = "Delete";
}

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Delete Account</h5>



<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.student.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.student.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.user.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.user.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" asp-route-id="@Model.student.Id" class="btn btn-danger" /> <a asp-controller="Default" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>


  </div>
</div>
</div>