@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Courses.Data.Entities.Course

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

@{
    ViewData["Title"] = "Delete";
}

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Delete Course</h5>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" /> <a asp-controller="Courses" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

  </div>
</div>
</div>
