@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Courses.ViewModels.DetailsForTeacherViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>



    <a href="#menu" id="toggle"style="position: relative; top:-70px; left: 20px;"><span></span></a>

    <div id="menu" style="top: 127px; left: 23px">
      <ul id="menu_ul">


            <li id="menu_li"><a asp-controller="Laboratories" asp-action="Create" asp-route-id="@Model.course.Id" id="menu_a">Create Laboratory</a></li>
           <li id="menu_li"> <a asp-controller="Assignments" asp-action="Create" asp-route-id="@Model.course.Id" id="menu_a">Create New Assignment</a></li>
           <li id="menu_li"> <a asp-controller="Posts" asp-action="Create" asp-route-id="@Model.course.Id" id="menu_a">Create New Post</a></li>
          
      </ul>
    </div>


<div class="row"> 
    <div class="col-8">

    
   <h3>Posts</h3>


    <table id="posts_table" class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
    <thead>
        <tr>
          <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Date Created</th>
              <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
     @{int i = 1;}
      @foreach (var post in this.Model.posts)
      {
            <tr>
              <td>@i</td>
              <td><a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Name</a></td>
                  @if(post.Description.Length < 15)
                    {
                        <td>@post.Description</td>
                    }
                    else
                    {
                        <td>@post.Description.Substring(0,15)... <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">[View More]</a></td>
                    }   
              <td>@post.DateCreated</td>
              <td><a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a> | <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">Delete</a></td>
            </tr>
            i++;
      }
  </tbody>

       
</table>
<hr>

   <h3>Assignments</h3>


<table id="assignments_table" class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Max Grade</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int j = 1;}
      @foreach (var assignment in this.Model.assignments)
      {
            <tr>
              <td>@j</td>
              <td><a asp-controller="Assignments" asp-action="DetailsForTeacher" asp-route-id="@assignment.Id">@assignment.Name</a></td>
                  @if(assignment.Description.Length < 15)
                    {
                        <td>@assignment.Description</td>
                    }
                    else
                    {
                        <td>@assignment.Description.Substring(0,15)... <a asp-controller="Assignments" asp-action="DetailsForTeacher" asp-route-id="@assignment.Id">[View More]</a></td>
                    }   
              <td>@assignment.DueDate</td>
              <td>@assignment.MaxGrade</td>
              <td><a asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Id">Edit</a> | <a asp-controller="Assignments" asp-action="Delete" asp-route-id="@assignment.Id">Delete</a></td>
            </tr>
            j++;
      }
  </tbody>
</table>


   </div>
 <div class="col-4">



        <div class="card">
          <div class="card-body">
 


        <h5 class="card-title">Course Information</h5>
        <hr/>




        


            <dl class="row">
      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9"><p class="card-text">@Html.DisplayFor(model => model.course.Name)</p></dd>

      <dt class="col-sm-3">Year</dt>
      <dd class="col-sm-9"><p class="card-text">@Html.DisplayFor(model => model.course.Year)</p></dd>

      <dt class="col-sm-3">Semester</dt>
      <dd class="col-sm-9"><p class="card-text">@Html.DisplayFor(model => model.course.Semester)</p></dd>

      <dt class="col-sm-3">Day</dt>
      <dd class="col-sm-9"><p class="card-text">@Html.DisplayFor(model => model.course.Day)</p></dd>

        <dt class="col-sm-3">Time</dt>
      <dd class="col-sm-9"><p class="card-text">@Html.DisplayFor(model => model.course.Time)</p></dd>
        </dl>

      

                    @if(ViewBag.GradingMethod == null)
                    {
                        <a asp-controller="Courses" asp-action="CreateGradingMethod" asp-route-id="@Model.course.Id" class="card-link">Create Grading Method</a>
                    }
                    else
                    {
                       <dl class="row">
                           <dt class="col-sm-3">Grading Method</dt>
                           <dd class="col-sm-9"><p class="card-text"><p class="card-text"><a asp-controller="Courses" asp-action="EditGradingMethod" asp-route-id="@Model.course.Id" class="card-link" style="font-size: 1.1em;">@ViewBag.GradingMethod</a></p></p></dd>
                        </dl>    
                    }


                    @if(Model.course.AttendanceMatters == true)
                    {
                        <div>
                         <i class="fa-solid fa-circle-exclamation" style="color: red;"></i> Attendance matters
                        </div>
                    }
                    else
                   {
                        <div>
                         <i class="fa-solid fa-circle-exclamation"></i> Attendance does not matter
                         </div>
                    }
        <a asp-controller="Laboratories" asp-action="AttachedLaboratories" asp-route-id="@Model.course.Id" class="card-link">View Attached Laboratories</a>

 
                    
       
                    
  
    </div>
    </div>

</div> 
   </div> 

   <script type='text/javascript'>
$(document).ready( function () {
    $('#posts_table').DataTable();
    $('#assignments_table').DataTable();
} );

    $(document).ready(function(){
 
    var theToggle = document.getElementById('toggle');

// based on Todd Motto functions
// https://toddmotto.com/labs/reusable-js/

// hasClass
function hasClass(elem, className) {
	return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
}
// addClass
function addClass(elem, className) {
    if (!hasClass(elem, className)) {
    	elem.className += ' ' + className;
    }
}
// removeClass
function removeClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
	if (hasClass(elem, className)) {
        while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
            newClass = newClass.replace(' ' + className + ' ', ' ');
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    }
}
// toggleClass
function toggleClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
    if (hasClass(elem, className)) {
        while (newClass.indexOf(" " + className + " ") >= 0 ) {
            newClass = newClass.replace( " " + className + " " , " " );
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    } else {
        elem.className += ' ' + className;
    }
}

theToggle.onclick = function() {
   toggleClass(this, 'on');
   return false;
}
   });

</script>

