@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Laboratories.ViewModels.DetailsForStudentViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

<h3>@Html.DisplayFor(model => model.laboratory.Name)</h3>


<div class="row"> 
    <div class="col-8">

    
   <h2>Posts</h2>
   

      @if (Model.posts.Count == 0)
        {
            <div class="card">
          <div class="card-body">
            <p class="card-text">There aren't any posts yet.</p>
          </div>
            </div>
        }
        else
        {
        foreach (var post in this.Model.posts)
        {
            <div class="card">
          <div class="card-body">
            <h5 class="card-title">@post.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Convert.ToDateTime(post.DateCreated).ToString("dd/MM/yyyy hh:mm")</h6>
            <p class="card-text">@post.Description</p>
          </div>
        </div>
         }
       }

   </div>
 <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratory Information</h5>
            <dl class="row">
        <dt class="col">
            Name
        </dt>
        <dd class="col">
            <p class="card-text">@Html.DisplayFor(model => model.laboratory.Name)</p>
        </dd>
        <div class="w-100"></div>
        <dt class="col">
            Teacher
        </dt>
        <dd class="col">
            <p class="card-text">@Html.DisplayFor(model => model.teacher.Name)</p>
        </dd>
    </dl> 
    </div>
    </div>




        <div class="card">
      <div class="card-body">
        <h5 class="card-title">To Do</h5>

         @if(Model.ToDo == null)
                {
                    <p class="card-text">You don't have any assignments.</p>
                }
                else
                {
                  foreach (var assignment in this.Model.ToDo)
                  {

                        <dl class="row">
                    <dt class="col-sm-4">
                        Name
                    </dt>
                    <dd class="col-sm-8">
                        <p class="card-text"><a asp-controller="Assignments" asp-action="Details" asp-route-id="@assignment.Id">@assignment.Name</a></p>
                    </dd>
                    <dt class="col-sm-4">
                        Due Date
                    </dt>
                    <dd class="col-sm-8">
                        <p class="card-text">@assignment.DueDate</p>
                    </dd>
        
                  </dl>
      

                  }
              }

    </div>
    </div>





    
        <div class="card">
      <div class="card-body">
        <h5 class="card-title">Done</h5>

          @if(Model.Done.Count == 0)
                {
                    <p class="card-text">There aren't any assignments done.</p>
                }
                else
                {
                      foreach (var item in this.Model.Done)
                      {

                            <dl class="row">
                        <dt class="col-sm-4">
                            Assignment
                        </dt>
                        <dd class="col-sm-8">
                            <p class="card-text">@item.Item1.Name</p>
                        </dd>
                        <dt class="col-sm-4">
                           Grade
                        </dt>
                        <dd class="col-sm-8">
                            <p class="card-text">@item.Item2.Grade</p>
                        </dd>
        
                      </dl>
      

                      }
                }

    </div>
    </div>

</div> 
   </div> 