@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Laboratories.ViewModels.CreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit laboratory</h1>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            @Html.HiddenFor(model => model.Laboratory.CourseId)


            <div class="form-group">
                <label asp-for="Laboratory.Name" class="control-label"></label>
                <input asp-for="Laboratory.Name" class="form-control" />
                <span asp-validation-for="Laboratory.Name" class="text-danger"></span>
            </div>

            
                   <select class="form-control" aria-label="Day" asp-for="Laboratory.Day">
          <option selected>Please select the day</option>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
           <option value="5">Firday</option>
       </select>


            <div class="form-group">
                <label asp-for="Laboratory.Time" class="control-label"></label>
                <input asp-for="Laboratory.Time" class="form-control" />
                <span asp-validation-for="Laboratory.Time" class="text-danger"></span>
            </div>


            @*
                  <select asp-for="Laboratory.CourseId" 
            asp-items="@(new SelectList(Model.Courses, "Id", "Name"))">
        <option>Please select one</option>
    </select>
*@


               <select asp-for="Laboratory.SubgroupId" asp-items="@(new SelectList(Model.Subgroups, "Id", "Name"))">
                    <option>Please select one</option>
               </select>

               <select asp-for="Laboratory.TeacherId" asp-items="@(new SelectList(Model.Teachers, "Id", "Name"))">
                    <option>Please select one</option>
               </select>


            

            <div class="form-group">
                <input type="submit" name="Edit" value="Edit" asp-route-id="@Model.Laboratory.Id" class="btn btn-success" /> <a asp-controller="Default" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
</form>
   