@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Tuple<Laboratories.Data.Entities.Laboratory, Courses.Data.Entities.Course>>

<h1>List of laboratories</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Course</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int i = 1;}
      @foreach (var list in this.Model)
      {
            <tr>
              <td>@i</td>
              <td><a asp-controller="Laboratories" asp-action="Details" asp-route-id="@list.Item1.Id">@list.Item1.Name</a></td>
              <td>@list.Item1.Day</td>
              <td>@list.Item1.Time.ToString("hh:mm")</td>
              <td>@list.Item2.Name</td>
              <td> <a asp-controller="Laboratories" asp-action="Edit" asp-route-id="@list.Item1.Id" class="btn btn-dark">Edit laboratory</a>
               <a asp-controller="Laboratories" asp-action="Delete" asp-route-Id="@list.Item1.Id" class="btn btn-dark">Delete laboratory</a></td>
            </tr>
            i++;
      }
  </tbody>
</table>