@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Laboratories.ViewModels.IndexViewModel>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js" defer></script>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

<h1>Laboratories</h1>


<table id="table_id" class="table table-bordered dt-responsive nowrap table-hover" style=" color: black;text-align: center;" width="100%">
       
       
    <thead>
        <tr>
       <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Group</th>
      <th scope="col">Subgroup</th>
       @if (ViewContext.HttpContext.User.IsInRole("Secretary"))
            {
                <th scope="col">Teacher</th>
            }
            
      <th scope="col">Course</th>
            @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
            {
                <th scope="col">Actions</th>
            }
            
        </tr>
    </thead>

    <tbody>
     @{int i = 1;}
      @foreach (var list in this.Model)
      {
            <tr>
              <td>@i</td>
              <td>
                    @if(ViewContext.HttpContext.User.IsInRole("Secretary"))
                    {
                        @list.laboratory.Name
                    }
                    @if(ViewContext.HttpContext.User.IsInRole("Teacher"))
                    {
                        <a asp-controller="Laboratories" asp-action="DetailsForTeacher" asp-route-id="@list.laboratory.Id">@list.laboratory.Name</a>
                    }

              </td>
              <td>@list.laboratory.Day</td>
              <td>@list.laboratory.Time.ToString("hh:mm")</td>
              <td><a asp-controller="Groups" asp-action="Edit" asp-route-id="@list.group.Id">@list.group.Name</a></td>
              <td><a asp-controller="Subgroups" asp-action="Edit" asp-route-id="@list.subgroup.Id">@list.subgroup.Name</a></td>

                              @if (ViewContext.HttpContext.User.IsInRole("Secretary"))
                {
                     <td><a asp-controller="Teachers" asp-action="Details" asp-route-id="@list.teacher.Id">@list.teacher.Name</a></td>
                }
              <td>
                  @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                    {
                        <a asp-controller="Courses" asp-action="DetailsForTeacher" asp-route-id="@list.course.Id">@list.course.Name</a>
                    }
                     @if (ViewContext.HttpContext.User.IsInRole("Secretary"))
                    {
                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@list.course.Id">@list.course.Name</a>
                    }
              </td>
                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                {
                     <td><a asp-controller="Laboratories" asp-action="Edit" asp-route-id="@list.laboratory.Id">Edit</a> | 
               <a asp-controller="Laboratories" asp-action="Delete" asp-route-Id="@list.laboratory.Id" >Delete</a></td>
                }

               
            </tr>
            i++;
      }
  </tbody>
</table>

<script type='text/javascript'>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
