@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Tuple<Submissions.Data.Entities.Submission, Assignments.Data.Entities.Assignment>>

<h1>List of submissions</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">File uploaded</th>
      <th scope="col">Assignment</th>
      <th scope="col">Turned in date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     @{int i = 1;}
      @foreach (var list in this.Model)
      {
            <tr>
              <td>@i</td>
              <td>@list.Item1.FilePath</td>
              <td>@list.Item2.Name</td>
              <td>@list.Item1.TurnedInDate</td>
              <td> <a asp-controller="Submissions" asp-action="Edit" asp-route-id="@list.Item1.Id" class="btn btn-dark">Edit</a>
               <a asp-controller="Submissions" asp-action="Delete" asp-route-Id="@list.Item1.Id" class="btn btn-dark">Delete</a></td>
            </tr>
            i++;
      }
  </tbody>
</table>